<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pokemon.name}} - Pokedex</title>
</head>
<body>
    <h1>{{pokemon.name}}</h1>
    <img src="{{pokemon.sprites.front_default}}" alt="{{pokemon.name}}">
    <h2>Height: {{pokemon.height}}</h2>
    <h2>Weight: {{pokemon.weight}}</h2>
    <p>
        Types: {{#each pokemon.types}}{{this.type.name}}{{#unless @last}}, {{/unless}}{{/each}}
    </p>
</body>
</html>